@model CapstoneProject.Models.Question
<div>
    @Html.HiddenFor(x => x.QuestionID)
    <p> @Model.QuestionID. @Model.QuestionText </p>
    <b>@Html.Label("Disagree")</b>
    @if (Model.Category.TypeID == 1)
    {
        for (var i = 0; i < 5; i++)
        {
            @Html.RadioButtonFor(model => model.QuestionText, i)
        }
    }
    @if (Model.Category.TypeID == 2)
    {
        for (var i = 0; i < 10; i++)
        {
            @Html.RadioButtonFor(model => model.Category, i)
        }
    }
    <b>@Html.Label("Agree")</b>
</div>