@model CapstoneProject.Models.Question
<div>
    @Html.HiddenFor(x => x.QuestionID)
    <p> @Model.QuestionID. @Model.QuestionText </p>
    @Html.Label("Disagree")
    @if (Model.Category.TypeID == 1)
    {
        for (var i = 0; i < 5; i++)
        {
            @Html.RadioButtonFor(model => model.QuestionText, i)
        }
    }
    @if (Model.Category.TypeID == 2)
    {
        for (var i = 0; i < 10; i++)
        {
            @Html.RadioButtonFor(model => model.QuestionText, i)
        }
    }
    @Html.Label("Agree")
</div>