@model CapstoneProject.Models.Question
<div>
    @Html.HiddenFor(x => x.QuestionID)
    <p> @Model.QuestionID. @Model.QuestionText </p>
    <strong>@Html.Label("Disagree")</strong>
    @if (Model.Category.TypeID == 1)
    {
        for (var i = 0; i < 5; i++)
        {
            @Html.RadioButton("Radio", Model.QuestionID)
        }
    }
    @if (Model.Category.TypeID == 2)
    {
        for (var i = 0; i < 10; i++)
        {
            @Html.RadioButton(i.ToString(), Model.QuestionID)
        }
    }
    <strong>@Html.Label("Agree")</strong>
</div> 