@using CapstoneProject.Controllers
@using CapstoneProject.DAL
@using Microsoft.AspNet.Identity
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Capstone Project", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                @if (User.Identity.IsAuthenticated && !User.IsInRole("Admin") && !User.IsInRole("Rater"))
                {
                    var unitOfWork = new UnitOfWork();
                    var employee = unitOfWork.EmployeeRepository.Get().Single(e => e.Email.Equals(User.Identity.GetUserName()));
                    <li>@Html.ActionLink("My Evaluations", "EmployeeEvalsIndex", "Evaluations", new {id = employee.EmployeeID}, new {})</li>
                }

                @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                {
                    <li>@Html.ActionLink("Employees", "Index", "Employees")</li>
                    <li>@Html.ActionLink("Cohorts", "Index", "Cohorts")</li>
                }
            </ul>
            @Html.Partial("_LoginPartial")         
        </div>
    </div>
</div>