@model CapstoneProject.ViewModels.AssignRatersViewModel

@{
    ViewBag.Title = "Edit Raters";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Raters</h2>
<h4>Replace an unfinished rater.</h4>
<h4 class="alert-success">@TempData["EmailSuccess"]</h4>
<br/>

@using (Html.BeginForm())
{
    <h4 class="alert-danger">@TempData["DuplicateError"]</h4>

    @Html.HiddenFor(m => m.EvalId)
    for (var i = 0; i < Model.Raters.Count; i++)
    {
        @Html.HiddenFor(m => Model.Raters[i].Name)
        @Html.HiddenFor(m => Model.Raters[i].Email)

        <h4>@Model.Raters[i].Role:</h4>
        <dl>
            <dt>
                <label>@Html.DisplayNameFor(model => model.Raters[i].Name):</label>
                <label>@Html.DisplayFor(model => model.Raters[i].Name)</label>
            </dt>
            <dt>
                <label>Email:</label>
                <label>@Html.DisplayFor(model => model.Raters[i].Email)</label>
            </dt>
            <dt>
                <label>Status:</label>
                @if (Model.Raters[i].Disabled)
                {
                    <label class="alert-warning">Disabled</label>
                }
                else if (string.IsNullOrEmpty(Model.Raters[i].Answers))
                {
                    <label class="alert-info">Pending</label>
                }
                else
                {
                    <label class="alert-success">Complete</label>
                }
            </dt>
            @if (string.IsNullOrEmpty(Model.Raters[i].Answers) && !Model.Raters[i].Disabled)
            {
                <dt>
                    @Html.ActionLink("Notify", "NotifyRater", "Raters", new { raterId = Model.Raters[i].RaterID }, null)
                    <label> | </label>
                    @Html.ActionLink("Replace", "ReplaceRater", "Raters", new { id = Model.Raters[i].RaterID }, null)
                </dt>
            }
        </dl>
        <br />
    }

    <br />
    <div class="form-group">
        <div>
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
}
