@model CapstoneProject.ViewModels.RaterPromptViewModel
@{
    ViewBag.Title = "Hello Rater";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    window.setTimeout(function () {
        window.location.href = '@Url.Action("TakeEvaluation", "Evaluations", new { id = Model.EvalId, raterId = Model.RaterId, code = Model.Code })';
    }, 4000);

    window.onload = function () {
        var timerElement = document.getElementById('timer'),
            seconds = 4,
            second = 0,
            interval;

        interval = setInterval(function () {
            timerElement.firstChild.data = "Redirecting you to the evaluation... " + (seconds - second);
            if (second >= seconds) {
                clearInterval(interval);
            }

            second++;
        }, 1000);
    }
</script>

<h2>Hello @ViewBag.RaterName.</h2>
<h4 id="timer">Redirecting you to the evaluation... 5</h4>
<h4>If you aren't automatically redirected, click 
    @Html.ActionLink("here", "TakeEvaluation", "Evaluations", 
        new { id = Model.EvalId, raterId = Model.RaterId, code = Model.Code }, null).
</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.EvalId)
    @Html.HiddenFor(m => m.RaterId)
    @Html.HiddenFor(m => m.Code)
}

