@model CapstoneProject.ViewModels.ReplaceRaterViewModel
@{
    ViewBag.Title = "Replace Rater";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.EvalId)
    @Html.HiddenFor(m => m.RaterToReplace.RaterID)
    @Html.HiddenFor(m => m.RaterToReplace.Role)
    @Html.HiddenFor(m => m.NewRater.Role)

    <h2>Replace Rater</h2>
    <h4>This rater will be disabled and replaced by the new one you specify below:</h4>
    <br/>
    <h4 class="alert-warning">Old @Model.RaterToReplace.Role:</h4>
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.RaterToReplace.Name):
            <label></label>
            @Html.DisplayFor(model => model.RaterToReplace.Name)
            <br />
        </dt>
        <dt>
            Email:
            <label></label>
            @Html.DisplayFor(model => model.RaterToReplace.Email)
        </dt>
    </dl>
    <br />

    <h4 class="alert-danger">@TempData["DuplicateError"]</h4>
    <h4 class="alert-info">New @Model.RaterToReplace.Role:</h4>
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.NewRater.Name):
            <label></label>
            @Html.EditorFor(model => model.NewRater.Name)
        </dt>
        <dt>
            Email:
            <label></label>
            @Html.EditorFor(model => model.NewRater.Email)
        </dt>
    </dl>

    <br />
    <div class="form-group">
        <div>
            <input type="submit" value="Replace Rater" class="btn btn-default" />
        </div>
    </div>
}