@model IEnumerable<CapstoneProject.Models.Evaluation>

@{
    ViewBag.Title = "Administrator Evaluations Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Evaluations</h2>
<h4>View employee evaluations and create reports for completed ones.</h4>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Employee.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stage.StageName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type.TypeName)
        </td>
        <td>
            @if (item.IsComplete())
            {
                @Html.ActionLink("View Report", "ShowReportAsHtml", new {id = item.EvaluationID})
            }
            else
            {
                <label class="alert-warning">In progress</label>
            }
        </td>
    </tr>
}

</table>
