@using Castle.Core.Internal
@model CapstoneProject.ViewModels.EvaluationCreateViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Evaluate Cohort: @Html.DisplayFor(model => model.CohortToEvaluate.Name) </h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        
        <div class="form-group">
            @Html.LabelFor(model => model.TypeID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.TypeID, Model.TypeList, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TypeID, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.StageID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.StageID, Model.StageList, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.StageID, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.OpenDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="input-group" id="datetimepicker">
                    @Html.EditorFor(model => model.OpenDate, new { htmlAttributes = new { @class = "form-control" } })
                    <label class="text-danger control-label">@TempData["DateError"]</label>
                </div>
                @Html.ValidationMessageFor(model => model.OpenDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CloseDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="input-group" id="datetimepicker">
                    @Html.EditorFor(model => model.CloseDate, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                @Html.ValidationMessageFor(model => model.CloseDate, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            <label class = "control-label col-md-2">Optional Raters</label>
            <div class="col-md-10">
                <div class="input-group">
                    <table>
                        <tr>
                            <td>@Html.CheckBoxFor(m => m.RaterOptions[0])</td>
                            <td>@Html.Label("Supervisor", htmlAttributes: new { @class = "control-label col-md-12" })</td>
                        </tr>
                        <tr>
                            <td>@Html.CheckBoxFor(m => m.RaterOptions[1])</td>
                            <td>@Html.Label("Coworker 1", htmlAttributes: new { @class = "control-label col-md-12" })</td>
                        </tr>
                        <tr>
                            <td>@Html.CheckBoxFor(m => m.RaterOptions[2])</td>
                            <td>@Html.Label("Coworker 2", htmlAttributes: new { @class = "control-label col-md-12" })</td>
                        </tr>
                        <tr>
                            <td>@Html.CheckBoxFor(m => m.RaterOptions[3])</td>
                            <td>@Html.Label("Supervisee 1", htmlAttributes: new { @class = "control-label col-md-12" })</td>
                        </tr>
                        <tr>
                            <td>@Html.CheckBoxFor(m => m.RaterOptions[4])</td>
                            <td>@Html.Label("Supervisee 2", htmlAttributes: new { @class = "control-label col-md-12" })</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default"/>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Cancel", "Index", "Cohorts")
</div>
