@model CapstoneProject.ViewModels.ViewEvalViewModel

@{
    ViewBag.Title = "View Evaluation";
    var maxAnswerOption = Model.Eval.TypeID == 1 ? 5 : 10;
}

<h2>Evaluation Details</h2>

<div>   
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Eval.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Eval.Stage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Eval.OpenDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Eval.CloseDate)
            </th>
            <th>
                <label>Status</label>
            </th>
            <th></th>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.Eval.Type.TypeName)
            </td>
            <td>
                @Html.DisplayFor(model => model.Eval.Stage.StageName)
            </td>
            <td>
                <label>@Model.Eval.OpenDate.ToString("d") </label>
            </td>
            <td>
                <label>@Model.Eval.CloseDate.Date.ToString("d")</label>
            </td>
            <td>
                @if (Model.Eval.CompletedDate.HasValue)
                {
                    <label class="alert-success">Completed @Model.Eval.CompletedDate.Value.ToString("MM/dd/yyyy h:mm tt")</label>
                }
            </td>
        </tr>
    </table>
</div>

<div>
    <h3>Your Answers:</h3>
    <h4>On a scale from 1-@maxAnswerOption, (1 meaning disagree, @maxAnswerOption meaning agree), you answered the following:</h4>
    @for (var i = 1; i < Model.QuestionList.Count + 1; i++)
    {
        <label>@i.</label>
        <label>@Model.QuestionList[i - 1].QuestionText</label>
        <br/>

        <label>You said: </label>
        <label>@Model.Answers[i - 1] / @maxAnswerOption</label>
        <br/><br/>
    }






</div>


