@model CapstoneProject.ViewModels.ViewEvalViewModel

@{
    ViewBag.Title = "View Evaluation";
}

<h2>Evaluation Details</h2>

<div>   
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Eval.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Eval.Stage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Eval.OpenDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Eval.CloseDate)
            </th>
            <th>
                <label>Status</label>
            </th>
            <th></th>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.Eval.Type.TypeName)
            </td>
            <td>
                @Html.DisplayFor(model => model.Eval.Stage.StageName)
            </td>
            <td>
                <label>@Model.Eval.OpenDate.ToString("d") </label>
            </td>
            <td>
                <label>@Model.Eval.CloseDate.Date.ToString("d")</label>
            </td>
            <td>
                @if (Model.Eval.CompletedDate.HasValue)
                {
                    <label class="alert-success">Completed @Model.Eval.CompletedDate.Value.ToString("MM/dd/yyyy h:mm tt")</label>
                }
            </td>
        </tr>
    </table>
</div>

<div>
    <h4>Your Answers</h4>
    @foreach (var answer in Model.Answers)
    {
        <label> @answer </label>
    }
    
    
    
    
    

</div>


