@model IEnumerable<CapstoneProject.Models.Evaluation>

@{
    ViewBag.Title = "My Evaluations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Evaluations for @User.Identity.Name</h2>
<h4 class="alert-success">@TempData["TakeEvalSuccess"]</h4>
<h4 class="alert-success">@TempData["EditRaterSuccess"]</h4>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OpenDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CloseDate)
        </th>
        <th>
            <label>Self Status</label>
        </th>
        <th>
            <label>Rater Status</label>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type.TypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stage.StageName)
            </td>
            <td>
                <label>@item.OpenDate.Date.ToString("d")</label>
            </td>
            <td>
                <label>@item.CloseDate.Date.ToString("d")</label>
            </td>
            <td>
                @if (!string.IsNullOrEmpty(item.SelfAnswers) && item.CompletedDate.HasValue)
                {
                    <label class="alert-success">Completed @item.CompletedDate.Value.ToString("MM/dd/yyyy h:mm tt")</label>
                    <label> | </label>
                    @Html.ActionLink("View", "Details", new { id = item.EvaluationID })
                }
                else if (item.OpenDate <= DateTime.Today && !item.IsComplete())
                {
                    @Html.ActionLink("Start Evaluation", "TakeEvaluation", new { id = item.EvaluationID })
                    <label> | </label>
                    <label class="alert-success">Open</label>
                    <label> | </label>
                    <label class="alert-warning">Closes @item.CloseDate.Date.ToString("d")</label>
                }
                else if (item.OpenDate > DateTime.Today)
                {
                    <label class="alert-info">Opens @item.OpenDate.Date.ToString("d")</label>
                }
                else if (item.CloseDate < DateTime.Today)
                {
                    <label class="alert-danger">Closed @item.CloseDate.Date.ToString("d")</label>
                }
            </td>
            <td>
                @if (item.Raters.Count == 0)
                {
                    <label>N/A (No raters)</label>
                }
                else if (!item.CompletedDate.HasValue)
                {
                    <label class="alert-info">Raters not yet assigned</label>
                }
                else if (item.Raters.Any(r => string.IsNullOrEmpty(r.Answers)))
                {
                    <label class="alert-warning">Rater evaluations in progress</label>
                    <label> | </label>
                    @Html.ActionLink("Edit/Notify", "EditRaters", new {id = item.EvaluationID})
                }
                else
                {
                    <label class="alert-success">Complete</label>
                    <label> | </label>
                    @Html.ActionLink("Edit/Notify", "EditRaters", new { id = item.EvaluationID })
                }
            </td>
        </tr>
    }

</table>
