@model CapstoneProject.Models.Evaluation

@{
    ViewBag.Title = "Report";
    Layout = "~/Views/Shared/PdfLayout.cshtml";
    var currentDate = DateTime.Today.ToString().Split(' ')[0];
    var questionNumber = 1;
    var numOfRaters = Model.Raters.Count;
}

<h3>
    Employee @Model.Employee.FirstName @Model.Employee.LastName Evaluation Report (of Evaluation @Model.Type.TypeName @Model.Stage.StageName --generated on @currentDate)
</h3>
<table>
    <tr>
        <th></th>
        <th>Self </th>
        @foreach (var rater in Model.Raters)
        {
            <th>@rater.Role </th>
        }
    </tr>
    @foreach (var category in Model.Type.Categories)
    {
        <tr>
            <td></td>
            <td>
                @category.Name
            </td>
        </tr>
        foreach (var question in category.Questions)
        {
            var answer = Model.SelfAnswers.Split(',')[questionNumber - 1];
            <tr>
                <td>
                    Question @questionNumber 
                </td>
                <td>
                    @answer
                </td>
                @foreach (var rater in Model.Raters) {
                    <td>
                        @rater.Answers.Split(',')[questionNumber - 1]
                    </td>
                }
            </tr>
            questionNumber++;
        }
    }
</table>
<p>
    @Html.ActionLink("Download as PDF", "DownloadReport", new { id = Model.EvaluationID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
