@model CapstoneProject.ViewModels.ViewEvalViewModel

@{
    ViewBag.Title = "View Evaluation";
    var maxAnswerOption = Model.Eval.TypeID == 1 ? 5 : 10;
}

    <h3>@Model.Eval.Employee.FirstName Answers:</h3>
    <h4>On a scale from 1-@maxAnswerOption, (1 meaning disagree, @maxAnswerOption meaning agree), @Model.Eval.Employee.FirstName answered the following:</h4>
    <br />
    @for (var i = 1; i < Model.QuestionList.Count + 1; i++)
    {
        <label>@i.</label>
        <label>@Model.QuestionList[i - 1].QuestionText</label>
        <br />

        <label>@Model.Eval.Employee.FirstName said: </label>
        <label>@Model.Answers[i - 1] / @maxAnswerOption</label>
        <br /><br />
    }



