@model CapstoneProject.ViewModels.TakeEvalViewModel

<h2>@ViewBag.TakeEvalHeader</h2>

<h4>Please select a button for each question to indicate if you agree or disagree.</h4>
<br/>

<div>
    @using (Html.BeginForm())
    {
        for (var i = 0; i < Model.AllQuestions.Count; i++)
        {
            @Html.HiddenFor(m => m.TypeId)
            @Html.HiddenFor(m => m.EvalId)
            @Html.HiddenFor(m => m.RaterId)

            <label>@Model.AllQuestions[i].Id.</label>
            <label>@Model.AllQuestions[i].Text</label>

            @Html.ValidationMessageFor(model => model.AllQuestions[i].SelectedAnswer, "", new {@class = "text-danger"})
            <br/>

            @Html.Label("Disagree", new {@class = "text-warning"})
            <label></label>

            var numberOfAnswers = Model.TypeId == 1 ? 5 : 10;
            for (var j = 1; j < numberOfAnswers + 1; j++)
            {
                @Html.HiddenFor(m => m.AllQuestions[i].Id)
                @Html.HiddenFor(m => m.AllQuestions[i].Text)
                @Html.RadioButtonFor(m => m.AllQuestions[i].SelectedAnswer, j, new {Name = "AllQuestions[" + i + "].SelectedAnswer"})
            }

            <label></label>
            @Html.Label("Agree", new {@class = "text-info"})
            <br/>
            <br/>
            <br/>
        }

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-default"/>
            </div>
        </div>
    }
</div>