@using Newtonsoft.Json.Linq
@model ICollection<CapstoneProject.ViewModels.QuestionViewModel>

<h2>Evaluation</h2>

<h4>Please rate how much you agree with each statement</h4>

<div>
    @using (Html.BeginForm())
    {
        for (var i = 0; i < Model.Count; i++)
        {
            @Html.HiddenFor(m => m.ElementAt(i).Id)
            @Html.HiddenFor(m => m.ElementAt(i).TypeId)
            <label>@Model.ElementAt(i).Id</label>
            <label>@Model.ElementAt(i).QuestionText</label>
            <br />

            @Html.Label("Disagree")
            <label></label>

            for (var j = 1; j < Model.ElementAt(i).PossibleAnswers.Count + 1; j++)
            {
                @Html.RadioButtonFor(m => m.ElementAt(i).SelectedAnswer, j, new {@Name = i})
                @*<input type="radio" value=@j.ToString(), name=@Model.ElementAt(i).Id/>
                <span>@j.ToString()</span>*@
            }

            <label></label>
            @Html.Label("Agree")
            <br />
            @Html.ValidationMessageFor(model => model.ElementAt(i).SelectedAnswer, "", new { @class = "text-danger" })
            <br/>
        }

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        </div>

        @*@Html.ActionLink("Next", "AssignRaters", new { id = Model.EvaluationID})*@
    }
</div>