@model CapstoneProject.Models.Question

<h2>Details</h2>

<div>
    <h4>Question Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Categories)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Categories)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.QuestionText)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.QuestionText)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.QuestionID }) |
    @Html.ActionLink("Back", "Index")
</p>
