@model CapstoneProject.Models.Employee

@{
    ViewBag.Title = "Delete | " + Model.FirstName + " " + Model.LastName;
}

<h2>Delete Employee</h2>
<h4>Are you sure you want to delete @Model.FirstName @Model.LastName?</h4>

<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt>
            Cohort
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cohort.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Delete Employee" class="btn btn-default" />
            </div>
        </div>

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
