@model IEnumerable<CapstoneProject.Models.Employee>

@{
    ViewBag.Title = "Employee Index";
}

<h2>Employee List</h2>
<h4>@Html.ActionLink("Upload Employee Data", "UploadData")</h4>
<h4 class="alert-success">@TempData["DeleteSuccess"]</h4>
<h4 class="alert-success">@TempData["EditSuccess"]</h4>

<table class="table">
    <tr>
        <th>
            <label>Name</label>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            <label>Cohort</label>
        </th>
        <th>
            <label>Action</label>
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cohort.Name)
        </td>
        <td>
            @Html.ActionLink("View", "Details", new { id = item.EmployeeID }) |
            @Html.ActionLink("Edit", "Edit", new {id = item.EmployeeID}) |
            @Html.ActionLink("Delete", "Delete", new { id = item.EmployeeID })
        </td>
    </tr>
}

</table>
