@model IEnumerable<CapstoneProject.Models.Cohort>

@{
    ViewBag.Title = "Cohort Index";
}

<h2>Cohorts</h2>
<h4>Manage your cohorts, and assign evaluations to them.</h4>
<h4 class="alert-success">@TempData["CreateSuccess"]</h4>
<h4 class="alert-success">@TempData["EditSuccess"]</h4>
<h4 class="alert-success">@TempData["EmailSuccess"]</h4>
<h4 class="alert-success">@TempData["DeleteSuccess"]</h4>
<h4>@Html.ActionLink("Add New Cohort", "Create")</h4>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            <label>Available Actions</label>
        </th>
        <th>
            <label>Cohort Status</label>
        </th>
        <th>
            <label>Evaluation Status</label>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @if (item.Employees.Count != 0 && 
                     !(item.Type1Assigned && item.Type2Assigned) &&
                     item.Employees.All(e => e.EmailConfirmed))
                {
                    @Html.ActionLink("Evaluate", "Create", "Evaluations", new { cohortId = item.CohortID }, null)
                    <label> | </label>
                }

                @Html.ActionLink("View", "Details", new { id = item.CohortID })

                @if (!item.HasOpenEval(1) && !item.HasOpenEval(2))
                {
                    <label> | </label>
                    @Html.ActionLink("Edit", "Edit", new { id = item.CohortID })
                    <label> | </label>
                    @Html.ActionLink("Delete", "Delete", new { id = item.CohortID })
                }              
            </td>
            <td>
                @if (item.Employees.Count == 0)
                {
                    <label class="alert-warning">Empty</label>
                }
                else if (!item.Employees.All(e => e.EmailConfirmed))
                {
                    <label class="alert-warning">Contains Pending Accounts</label>
                }
                else
                {
                    <label class="alert-success">Ready</label>
                }
            </td>
            <td>
                @if (item.AllEvalsOfTypeComplete(1))
                {
                    if (item.IsStageComplete("Summative", 1))
                    {
                        <label class="alert-success">Type 1 Summative Complete</label>
                    }
                    else if (item.IsStageComplete("Formative", 1))
                    {
                        <label class="alert-success">Type 1 Formative Complete</label>
                    }
                    else if (item.IsStageComplete("Baseline", 1))
                    {
                        <label class="alert-success">Type 1 Baseline Complete</label>
                    }
                    if (item.Type2Assigned || item.AllEvalsOfTypeComplete(2)){ <br /> }
                }

                @if (item.HasOpenEval(1) && !item.AllEvalsOfTypeComplete(1))
                {
                    <label class="alert-warning">Type 1 in progress</label>
                    <label> ( </label>
                    @Html.ActionLink("Notify", "NotifyCohort", new {cohortId = item.CohortID, typeId = 1})
                    <label> ) </label>
                    if (item.Type2Assigned || item.AllEvalsOfTypeComplete(2)){ <br /> }
                } 

                @if (item.Type1Assigned && !item.HasOpenEval(1))
                {
                    <label class="alert-info">Type 1 opens @item.EvalOpenDate(1)</label>
                    <label> ( </label>
                    @Html.ActionLink("Edit", "Edit", "Evaluations", new {cohortId = item.CohortID, typeId = 1}, null)
                    <label> | </label>
                    @Html.ActionLink("Delete", "Delete", "Evaluations", new {cohortId = item.CohortID, typeId = 1}, null)
                    <label> | </label>
                    @Html.ActionLink("Notify", "NotifyCohort", new {cohortId = item.CohortID, typeId = 1})
                    <label> ) </label>
                    if (item.Type2Assigned || item.AllEvalsOfTypeComplete(2)){ <br /> }
                }
                
                @if (item.AllEvalsOfTypeComplete(2))
                {
                    if (item.IsStageComplete("Summative", 2))
                    {
                        <label class="alert-success">Type 2 Summative Complete</label>
                    }
                    else if (item.IsStageComplete("Formative", 2))
                    {
                        <label class="alert-success">Type 2 Formative Complete</label>
                    }
                    else if (item.IsStageComplete("Baseline", 2))
                    {
                        <label class="alert-success">Type 2 Baseline Complete</label>
                    }
                }

                @if (item.HasOpenEval(2) && !item.AllEvalsOfTypeComplete(2))
                {
                    <label class="alert-warning">Type 2 in progress</label>
                    <label> ( </label>
                    @Html.ActionLink("Notify", "NotifyCohort", new { cohortId = item.CohortID, typeId = 2 })
                    <label> ) </label>
                }

                @if (item.Type2Assigned && !item.HasOpenEval(2))
                {
                    <label class="alert-info">Type 2 opens @item.EvalOpenDate(2)</label>
                    <label> ( </label>
                    @Html.ActionLink("Edit", "Edit", "Evaluations", new {cohortId = item.CohortID, typeId = 2}, null)
                    <label> | </label>
                    @Html.ActionLink("Delete", "Delete", "Evaluations", new {cohortId = item.CohortID, typeId = 2}, null)
                    <label> | </label>
                    @Html.ActionLink("Notify", "NotifyCohort", new { cohortId = item.CohortID, typeId = 2 })
                    <label> ) </label>
                }
            </td>
        </tr>
    }

</table>